.create-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #12121275;
  color: white;
}

.create-event h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.create-event form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.create-event input,
.create-event textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 16px;
}

.create-event input:focus,
.create-event textarea:focus {
  outline: 2px solid #007bff;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #0056b3;
}